*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    min-height: 100vh;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background-color: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
}

.inputdiv{
    position: relative;
    width: 250px;
}

.inputdiv>input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background-color: transparent;
    border-left: 2px solid #000 ;
    border-bottom: 2px solid #000;
    transition: 0.1s;
}

.inputdiv>span{
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
}

.inputdiv>input:valid~span,
.inputdiv>input:focus~span{
    transform: translatex(113px) translateY(-15px);
    font-size: 0.8em;
    padding:5px 10px;
    background-color: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.inputdiv>input:valid,
.inputdiv>input:focus{
    border: 2px solid #000;
}

button{
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

button:hover{
    background-color: #000;
    color: #fff;

}